# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.env
.env.*
.venv/
venv/
ENV/
.envrc

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Docx temp
*.docx~
~$*.docx
